{{>head}}
<body>
  <div class="container">
    <p>{{ agencyName }}</p>
    <p>{{ personInCharge }}様</p>
    <br>

    <p>お世話になっております。GTNアフィリエイトお客様対応担当者の李です。</p>
    <p>この度は、GTNアフィリエイトへご送客いただきありがとうございます。</p>
    <p>お申込いただきましたお客様の申込手配が完了いたしましたことをご報告いたします。</p>
    <br>

    <p>お名前 {{ applicantName }}様</p>
    <p>電気開始日  {{ electricStartDate }}</p>
    <p>ガス立会日  {{ gasStartDate }}</p>
    <p>ガス立会時間  {{ gasStartTime }}</p>
    <p>水道開始日  {{ withWaterSupply }}</p>
    <br>

    <p>（光回線 {{ hasWifiApplication }}）</p>
    <p>（カード {{ hasCreditCardApplication }}）</p>
    <br>

    <p>お申込みいただいたご本人様のメールアドレスへ電気ガス申込代行会社（株式会社ヒナタオエナジー様）より申込に関する規約同意をしていただくためのメールが送信されています。</p>
    <p>お客様より添付されているURLにアクセスし、同意ボタンをクリックしていただくと、申し込みが完了します。</p>
    <p>この規約同意画面から同意していただかなければ、申込が完了せず利用開始希望日にサービスを提供することができません。</p>
    <p>利用開始希望日の5日前までに必ず同意をしていただくようお願いしておりますが、同意いただけない場合は自動的にキャンセルになってしまう旨、ご了承お願いいたします。</p>
    <br>

    <p>また、キャンセルの場合、当サービスではご利用希望日での再申し込みは承ることができず、</p>
    <p>お客様ご自身で各供給会社様へ申込を行っていただく必要がありますことをご了承ください。</p>
    <br>

    <p>引き続きよろしくお願いいたします。</p>
  </div>
</body>